@import "./node_modules/normalize.css/normalize";
@import "./sass/general/variables.scss";
@import "./sass/general/html.scss";
@import "./sass/general/mixin.scss";
@import "./sass/general/body.scss";
@import "./sass/general/wrapper.scss";
@import "./sass/blocks/main-header.scss";
@import "./sass/blocks/header-logo.scss";
@import "./sass/blocks/main-logo.scss";
@import "./sass/blocks/main-menu.scss";
@import "./sass/blocks/main-close.scss";
@import "./sass/blocks/top-title.scss";
@import "./sass/blocks/top-info.scss";
@import "./sass/blocks/photo-container.scss";
@import "./sass/blocks/photo-wrap.scss";
@import "./sass/blocks/photo.scss";
@import "./sass/blocks/intimation.scss";
@import "./sass/blocks/picture-slider.scss";
@import "./sass/blocks/form.scss";
@import "./sass/blocks/download.scss";
@import "./sass/blocks/download-control.scss";
@import "./sass/blocks/download-list.scss";
@import "./sass/blocks/caption.scss";
@import "./sass/blocks/description.scss";
@import "./sass/blocks/effect.scss";
@import "./sass/blocks/reviews.scss";
@import "./sass/blocks/price.scss";
@import "./sass/blocks/slider.scss";
@import "./sass/blocks/contacts.scss";
@import "./sass/blocks/registration.scss";
@import "./sass/blocks/info.scss";
@import "./sass/blocks/achievements.scss";
@import "./sass/blocks/adress.scss";
@import "./sass/blocks/interview.scss";
@import "./sass/blocks/textarea.scss";
@import "./sass/blocks/contacts-location.scss";
@import "./sass/blocks/footer.scss";
@import "./sass/blocks/footer-container.scss";
@import "./sass/blocks/socials.scss";
