$font-stack: "Open Sans", sans-serif;
$color-ebonyclay: #283645;
$font-size-text: 18px;
$font-size-title: 14px;
$line-height-text: 30px;
$text-cericered: #d22856;
$color-white: #ffffff;
$color-mirage: #1D2631;
$line-height-title: 18px;
$font-weight-title: normal;
$text-transform: uppercase;
$text-align: center;
$text-decor: none;
$color-black: #000000;
$mobile-width: ('max-width: 700px');
$tablet-width: ('min-width: 700px');
$desktop-widths: ('min-width: 1200px');
$color-concrete: #f2f2f2;
