$font-stack: "Open Sans", sans-serif;
$blue: #283645;
$font-size-text: 18px;
$font-size-title: 14px;
$line-height-text: 30px;
$red: #d22856;
$white: #ffffff;
$line-height-title: 18px;
$font-weight-title: normal;
$text-transform: uppercase;
$text-align: center;
$text-decor: none;
$black: #000000;
$tablet-width: "(min-width: 700px)";
@desktop-widths: "(min-width: 1200px)";
