.adress {
  display: flex;
  padding: 0;
  min-height: 285px;
  border: none;
  @media($tablet-width) {
    position: relative;
    margin-bottom: 65px;
    border: 2px solid #e5e5e5;
    order: 3;
    z-index: 1;
  }
  @media($desktop-widths) {
    min-height: 165px;
    width: 100%;
    margin-bottom: 60px;
  }
}
.adress__list {
  @media($tablet-width) {
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    padding-left: 52px;
    align-items: flex-start;
  }
  @media($desktop-widths) {
    display: flex;
    justify-content: space-around;
  }
}
.adress__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media($tablet-width) {
    flex-direction: column-reverse;
    align-items: baseline;
  }
}
.adress__label {
  @include decoration-label;
  padding-bottom: 5px;
  padding-top: 12px;
  font-size: $font-size-title;
  line-height: $line-height-text;
  color: $text-cericered;
  text-transform: uppercase;
  @media($tablet-width) {
    padding-bottom: 24px;
    padding-left: 22px;
  }
  @media($desktop-widths) {
    padding-bottom: 15px;
    padding-left: 23px;
  }
}
.adress__input {
  @include decoration-text;
  padding-bottom: 15px;
  padding-top: 14px;
  padding-left: 20px;
  padding-right: 35px;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  @media($tablet-width) {
    width: 437px;
  }
  @media($desktop-widths) {
    width: 309px;
  }
}
.adress__head {
  display: none;
  @media($tablet-width) {
    display: flex;
    position: absolute;
    width: 33%;
    top: -10px;
    left: 212px;
    padding-top: 0;
    padding-bottom: 0;
    background: #ffffff;
    z-index: 2;
  }
  @media($desktop-widths) {
    width: 25%;
    left: 355px;
  }
}
.adress__title {
  @media($tablet-width) {
  margin: 0;
  width: 100%;
  text-align: center;
  @include decoration-title;
  }
}
.adress__span {
  @media($tablet-width) {
    display: none;
  }
}
.adress__input:before {
  display: none;
  @media($tablet-width) {
    display: inline-block;
    content: "";
    width: 64px;
    height: 62px;
    background: url("../img/icon-phone.svg") no-repeat center;
    background-color: #e5e5e5;
  }
}
