.caption {
  display: flex;
  margin-bottom: 100px;
}
.caption__title {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 24px;
  width: 99%;
  text-align: center;
  font-weight: lighter;
  color: $color-ebonyclay;
  @media($tablet-width) {
    align-self: center;
    font-size: 40px;
    width: 99%;
    margin-top: 50px;
    margin-bottom: 0;
  }
  @media($desktop-widths) {
    font-size: 50px;
    margin-top: 70px;
  }
}
