.caption {
  display: flex;
  text-align: center;
  background-color: #ffffff;
  @media($tablet-width) {
    padding-top: 50px;
    padding-bottom: 32px;
  }
  @media($desktop-widths) {
    padding-top: 75px;
    padding-bottom: 80px;
  }
}
.caption__title {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  color: $color-ebonyclay;
  @media($tablet-width) {
    font-size: 40px;
  }
  @media($desktop-widths) {
    font-size: 50px;
  }
}
.caption__title:nth-child(2) {
  @media($tablet-width) {
    width: 335px;
    margin: 0 auto;
  }
  @media($desktop-widths) {
    width: 435px;
  }
}
