.contacts {
  display: flex;
  flex-direction: column;
}
.contacts__title {
  margin-bottom: 29px;
  @include title;
  @media($tablet-width) {
    margin: 0;
    padding: 47px 0;
    font-size: 40px;
    width: 370px;
  }
  @media($desktop-widths) {
    width: 470px;
    margin-bottom: 60px;
    font-size: 50px;
  }
}
.contacts__item {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  color: $text-cericered;
  @media($tablet-width) {
    margin-bottom: 30px;
    width: 37%;
  }
}
.contacts__item:nth-child(3) {
  width: 225px;
  @media($tablet-width) {
    width: 37%;
  }
}
.contacts__text {
  margin: 0;
  @include decoration-text;
  font-weight: bold;
  text-align: center;
  @media($desktop-widths) {
    padding-bottom: 18px;
  }
}
.contacts__info {
    font-size: 24px;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    color: $text-cericered;
    @media($tablet-width) {
    font-size: 24px;
    font-weight: lighter;
    text-decoration: none;
    color: $text-cericered;
  }
}
.contacts__communication {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media($tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media($desktop-widths) {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}
.contacts__head {
  margin: 0 auto;
  padding-top: 27px;
  width: 100%;
  @media($tablet-width) {
  width: 48%;
  margin: 0 auto;
  }
}
.contacts__item:nth-child(1) {
  @media($desktop-widths) {
  order: 1;
  }
}
.contacts__item:nth-child(2) {
  @media($desktop-widths) {
  order: 3;
  }
}
.contacts__item:nth-child(3) {
  @media($desktop-widths) {
  order: 2;
  }
}
