.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__title {
  margin-bottom: 29px;
  @include title;
  @media($tablet-width) {
    font-size: 40px;
    width: 370px;
  }
  @media($desktop-widths) {
    font-size: 50px;
  }
}
.contacts__phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.contacts__text {
  margin: 0;
  @include decoration-text;
  font-weight: bold;
  text-align: center;
}
.contacts__number {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: lighter;
    text-decoration: none;
    color: $text-cericered;
  }
.contacts__mail {
    font-size: 24px;
    font-weight: lighter;
    text-decoration: none;
    color: $text-cericered;

    @media($tablet-width) {
    float: right;
    width: 215px;
    height: 70px;
  }
}
.contacts__address {
    font-size: 24px;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    color: $text-cericered;
  @media($tablet-width) {
    font-size: 24px;
    font-weight: lighter;
    text-decoration: none;
    color: $text-cericered;
  }
}
  .contacts__direction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    width: 241px;
    @media($tablet-width) {
    float: left;
    width: 220px;
    height: 100px;
    margin: 100px auto;
  }
  @media($desktop-widths) {
    float: left;
    margin: 0;
    margin-left: 165px;
  }
}
.contacts__communication {
  @media($tablet-width) {
    display: flex;
    flex-direction: row;
  }
  @media($desktop-widths) {
    float: left;
    width: 950px;
  }
}
.contacts__email {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  @media($desktop-widths) {
  float: right;
  }
}
