.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__title {
  margin-bottom: 29px;
  @include title;
  @media($tablet-width) {
    font-size: 40px;
    width: 370px;
    margin-bottom: 50px;
  }
  @media($desktop-widths) {
    width: 470px;
    margin-bottom: 60px;
    font-size: 50px;
  }
}
.contacts__phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  @media($tablet-width) {
    margin-bottom: 30px;
  }
}
.contacts__text {
  margin: 0;
  @include decoration-text;
  font-weight: bold;
  text-align: center;
}
.contacts__number {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: lighter;
    text-decoration: none;
    color: $text-cericered;
}
.contacts__mail {
    font-size: 24px;
    font-weight: lighter;
    text-decoration: none;
    color: $text-cericered;
    @media($tablet-width) {
    margin-bottom: 30px;
  }
}
.contacts__address {
    font-size: 24px;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    color: $text-cericered;
    @media($tablet-width) {
    font-size: 24px;
    font-weight: lighter;
    text-decoration: none;
    color: $text-cericered;
  }
}
  .contacts__direction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    width: 241px;
    @media($tablet-width) {
    width: 211px;
    margin-left: auto;
    margin-right: auto;
  }
    @media($desktop-widths) {
      margin: 0;
      order: 2;
    }
}
.contacts__communication {
  @media($tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 542px;
  }
  @media($desktop-widths) {
    display: flex;
    width: 900px;
  }
}
.contacts__email {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  @media($desktop-widths) {
    order: 3;
  }
}
