.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat center 725px;
}
.description__title {
  width: 204px;
  margin-top: 40px;
  margin-bottom: 105px;
  font-size: 24px;
  text-align: center;
  font-weight: lighter;
  color: $color-ebonyclay;
  @media($desktop-widths) {
    width: 745px;
    margin-top: 100px;
    margin-left: 150px;
  }
}
.description__head {
  font-size: $font-size-text;
  line-height: 24px;
  font-weight: bold;
  color: $color-black;
}
.description__text {
  font-size: 14px;
  line-height: 24px;
  color: $color-ebonyclay;
}
.description__list {
    @media($tablet-width) {
  float: right;
  width: 300px;
  }
    @media($desktop-widths) {
      width: 900px;
      height: 200px;
    }
}
.description__item {
  width: 274px;
  margin-bottom: 23px;
  text-align: center;
   @media($tablet-width) {
    float: right;
    width: 300px;
  }
  @media($desktop-widths) {
    float: left;
    width: 250px;
  }
}
.description__item:last-child {
  margin-bottom: 313px;
}
  .description__picture {
    @media($tablet-width) {
      float: left;
      width: 280px;
      height: 490px;
      background: url("http://placehold.it/320x200");
  }
}
