.desc {
  width: 300px;
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 30px;
  @media($tablet-width) {
    width: 430px;
    padding-bottom: 47px;
  }
}
.desc__title {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: $color-ebonyclay;
  text-align: center;
  @media($tablet-width) {
    font-size: 18px;
  }
}
