.download-list {
  padding-bottom: 6px;
  display: flex;
  justify-content: space-between;
  width: 203px;
  text-align: center;
  font-size: 0;
  @media($tablet-width) {
    padding-bottom: 18px;
  }
  @media($desktop-widths) {
    padding-bottom: 35px;
  }
}
.download-list__system--ios {
  width: 50px;
  height: 57px;
  background: url("../img/logo-apple.svg") no-repeat;
}
.download-list__system--android {
  margin-top: 8px;
  width: 43px;
  height: 48px;
  background: url("../img/logo-android.svg") no-repeat;
  @media($tablet-width) {
    opacity: 0.3;
  }
}
.download-list__system--windows {
  margin-top: 10px;
  width: 44px;
  height: 41px;
  background: url("../img/logo-microsoft.svg") no-repeat;
}
