.download {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: $font-size-title;
  line-height: 24px;
  background-color: $color-mirage;
  color: $color-white;
  @media($tablet-width) {
    width: 700px;
    height: 618px;
    background: url(http://placehold.it/700x618);
  }
  @media($desktop-widths) {
    width: 1200px;
    height: 646px;
    background: url(http://placehold.it/1200x646);
  }
}
.download__text {
  margin-left: 44px;
  width: 240px;
  margin-bottom: 28px;
}
.download__head {
  display: none;
  @media($tablet-width) {
    display: block;
  }
  @media($desktop-widths) {
    display: block;
  }
}
  .download__title {
  @media($tablet-width) {
    font-size: 30px;
    color: $color-white;
  }
  @media($desktop-widths) {
    font-size: 30px;
    color: $color-white;
  }
}
