.top-picture {
  margin-top: -60px;
  height: 460px;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat 0px -66px;
  @media($tablet-width) {
    float: none;
    width: 700px;
    height: 618px;
    background: url(http://placehold.it/700x618);
  }
}


