.download {
  font-size: $font-size-title;
  line-height: 24px;
  color: $color-white;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
     background: url("../img/iphone-hand-mobile@2x.png") no-repeat 0px 176px, url("../img/bg-back-mobile@2x.jpg") no-repeat;
  }
  @media($tablet-width) {
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat 0px 184px, url("../img/bg-back-tablet@1x.jpg") no-repeat -250px 0;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/iphone-hand-tablet@2x.png") no-repeat 0px 184px, url("../img/bg-back-tablet@2x.jpg") no-repeat -250px 0;
    }
  }
  @media($desktop-widths) {
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat 150px 205px, url("../img/bg-back-desktop@1x.jpg") no-repeat -657px 0px;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/iphone-hand-desktop@2x.png") no-repeat 150px 205px, url("../img/bg-back-desktop@2x.jpg") no-repeat -657px 0px;
    }
  }
}
.download__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../img/iphone-hand-mobile@1x.png) no-repeat 0px 176px, url(../img/bg-back-mobile@1x.jpg) no-repeat;
  padding-top: 462px;
  background-color: #1d2631;
  @media($tablet-width) {
    background: none;
    padding-top: 193px;
    padding-bottom: 65px;
    padding-left: 29px;
    width: 55%;
  }
  @media($desktop-widths) {
    padding-top: 214px;
    padding-left: 10px;
    width: 33%;
  }
}
.download__head {
  display: none;
  @media($tablet-width) {
    display: block;
    padding-bottom: 8px;
    line-height: 45px;
    text-align: center;
  }
  @media($desktop-widths) {
    display: block;
  }
}
  .download__title {
  @media($tablet-width) {
    width: 190px;
    margin: 0;
    font-size: 40px;
    font-weight: 300;
    color: $color-white;
  }
  @media($desktop-widths) {
    width: 240px;
    font-size: 50px;
    line-height: 64px;
    color: $color-white;
  }
}
.download__info {
  width: 240px;
  margin-bottom: 28px;
  text-align: center;
  @media($tablet-width) {
    width: 367px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 42px;
    font-weight: 300;
    text-align: center;
  }
  @media($desktop-widths) {
    width: 295px;
    margin-bottom: 57px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
  }
}
