.download {
  display: flex;
  flex-direction: column;
  font-size: $font-size-title;
  line-height: 24px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat 0px 176px, url("../img/bg-back-mobile@1x.jpg") no-repeat;
  color: $color-white;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
     background: url("../img/iphone-hand-mobile@2x.png") no-repeat 0px 176px, url("../img/bg-back-mobile@2x.jpg") no-repeat;
  }
  @media($tablet-width) {
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat 0px 184px, url("../img/bg-back-tablet@1x.jpg") no-repeat;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/iphone-hand-tablet@2x.png") no-repeat 0px 184px, url("../img/bg-back-tablet@2x.jpg") no-repeat;
    }
  }
  @media($desktop-widths) {
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat 150px 202px, url("../img/bg-back-desktop@1x.jpg") no-repeat;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/iphone-hand-desktop@2x.png") no-repeat 0px 202px, url("../img/bg-back-desktop@2x.jpg") no-repeat;
    }
  }
}
.download__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-mirage;
    margin-top: 462px;
    @media($tablet-width) {
      background: none;
      margin-top: 170px;
      padding-bottom: 65px;
      align-items: flex-start;
    }
}
.download__text {
  width: 240px;
  margin-bottom: 28px;
  @media($tablet-width) {
    width: 367px;
    margin-bottom: 28px;
    text-align: center;
  }
  @media($desktop-widths) {
    width: 295px;
    margin-left: 130px;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
  }
}
.download__head {
  display: none;
  @media($tablet-width) {
    display: block;
    margin-bottom: -23px;
    margin-left: 95px;
    line-height: 45px;
    text-align: center;
    width: 193px;
  }
  @media($desktop-widths) {
    display: block;
    margin-left: 162px;
  }
}
  .download__title {
  @media($tablet-width) {
    width: 190px;
    font-size: 40px;
    font-weight: lighter;
    color: $color-white;
  }
  @media($desktop-widths) {
    width: 240px;
    font-size: 50px;
    line-height: 64px;
    color: $color-white;
  }
}
.download__info {
  @media($tablet-width) {
    font-size: 18px;
    font-weight: lighter;
  }
}
