.download-control__button {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: $color-white;
  text-decoration: $text-decor;
}
.download-control {
  float: none;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 18px;
  padding-right: 18px;
  text-align: center;
}
