.download {
  position: relative;
  display: flex;
  margin-top: -65px;
  flex-direction: column;
  font-size: $font-size-title;
  line-height: 24px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat 0px 176px, url("../img/bg-back-mobile@1x.jpg") no-repeat;
  color: $color-white;
  z-index: 1;
  @media($tablet-width) {
    margin-top: 0;
    background: url("../img/iphone-hand-mobile@1x.png") no-repeat 0px 176px, url("../img/bg-back-mobile@1x.jpg") no-repeat;
    background-size: cover;
  }
  @media($desktop-widths) {
    margin-top: -108px;
  }
}
.download__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-mirage;
    margin-top: 462px;
    @media($tablet-width) {
      background: none;
      margin-top: 170px;
      padding-bottom: 65px;
      align-items: flex-start;
    }
}
.download__text {
  width: 240px;
  margin-bottom: 28px;
  @media($tablet-width) {
    margin-left: 38px;
  }
  @media($desktop-widths) {
    width: 295px;
    margin-left: 125px;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
  }
}
.download__head {
  display: none;
  @media($tablet-width) {
    display: block;
    margin-bottom: -23px;
    margin-left: 95px;
    line-height: 45px;
    text-align: center;
    width: 193px;
  }
  @media($desktop-widths) {
    display: block;
    margin-left: 162px;
  }
}
  .download__title {
  @media($tablet-width) {
    width: 190px;
    font-size: 40px;
    font-weight: lighter;
    color: $color-white;
  }
  @media($desktop-widths) {
    width: 240px;
    font-size: 50px;
    line-height: 64px;
    color: $color-white;
  }
}
