.download-control__button {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: $color-white;
  text-decoration: $text-decor;
  border: 3px solid $color-white;
  border-radius: 50px;
}
.download-control {
  margin-top: 45px;
  margin-bottom: 47px;
  @media($tablet-width) {
    margin-left: 37px;
    margin-bottom: 55px;
  }
}
