.effect-container {
  @media($tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 6px;
    padding-bottom: 40px;
  }
  @media($desktop-widths) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
