.effect {
  display: none;
}

@media (min-width: 700px) {
  .effect {
    display: block;
    width: 700px;
    height: 345px;
  }
  .effect__item{
    float: right;
    width: 303px;
    height: 215px;
  }
  .effect__title {
    font-size: 30px;
    line-height: 36px;
    color: $black;
  }
  .effect__text {
    font-size: 14px;
    line-height: 24px;
    color: $blue;
  }
  .effect__picture{
    float: left;
  }
  .effect__link {
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: $red;
  }
}
