.effect {
  display: none;
  @media($tablet-width) {
    display: flex;
  }
  @media($desktop-widths) {
    background: $color-concrete;
  }
}
.effect__item {
  @media($tablet-width) {
  }
  @media($desktop-widths) {
  }
}
.effect__title {
  @media($tablet-width) {
    width: 168px;
    margin-top: 93px;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 36px;
    color: $color-black;
  }
  @media($desktop-widths) {
    width: 300px;
  }
}
.effect__text {
  @media($tablet-width) {
    width: 308px;
    font-size: 14px;
    line-height: 24px;
    color: $color-ebonyclay;
  }
  @media($desktop-widths) {
    width: 540px;
    font-size: 18px;
    line-height: 30px;
  }
}
.effect__picture{
  position: relative;
  @media($tablet-width) {
    margin-top: 55px;
    margin-right: 17px;
  }
  @media($desktop-widths) {
    margin-top: 0;
    margin-bottom: 67px;
    margin-right: 100px;
  }
}
.effect__link {
  @media($tablet-width) {
    font-size: 14px;
    line-height: 24px;
    color: $text-cericered;
  }
  @media($desktop-widths) {
    font-size: 18px;
  }
}
.effect__img {
    width: 80%;
  @media($desktop-widths) {
    height: 346px;
    width: 302px;
  }
}
.effect__picture:before {
  @media($tablet-width) {
    position: absolute;
    content: "";
    height: 200px;
    width: 200px;
    border: 14px solid #d22856;
    border-radius: 50%;
    top: 54px;
    left: 19px;
  }
  @media($desktop-widths) {
    position: absolute;
    content: "";
    height: 250px;
    width: 250px;
    border: 17px solid #d22856;
    border-radius: 50%;
    top: 72px;
    left: 25px;
  }
}
.effect__picture:after {
  @media($tablet-width) {
    position: absolute;
    content: "24";
    font-size: 96px;
    color: #d22856;
    top: 97px;
    left: 66px;
    font-weight: 900;
  }
  @media($desktop-widths) {
    position: absolute;
    content: "24";
    font-size: 120px;
    color: #d22856;
    top: 120px;
    left: 75px;
    font-weight: 900;
  }
}
