.effect {
  display: none;
  @media($tablet-width) {
    display: block;
    width: 700px;
    height: 345px;
  }
}
.effect__item {
  @media($tablet-width) {
    float: right;
    width: 303px;
    height: 215px;
 }
  @media($tablet-width) {
    float: right;
    margin-right: 350px;
 }
}
.effect__title {
  @media($tablet-width) {
    font-size: 30px;
    line-height: 36px;
    color: $color-black;
  }
}
.effect__text {
  @media($tablet-width) {
    font-size: 14px;
    line-height: 24px;
    color: $color-ebonyclay;
  }
}
.effect__picture{
  @media($tablet-width) {
    float: left;
  }
  @media($desktop-widths) {
    float: left;
  }
}
.effect__link {
  @media($tablet-width) {
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: $text-cericered;
  }
}
