.footer-container {
    width: 59%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media($tablet-width) {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
    }
    @media($desktop-widths) {
      width: 98.5%;
    }
}
