.footer--active {
  @media($mobile-width) {
  display: none;
  }
}
.footer{
  display: flex;
  flex-direction: column;
  @media($tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.footer__logo {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 38px;
  @media($tablet-width) {
    margin-top: 34px;
    margin-left: -20px;
    margin-right: -30px;
  }
  @media($desktop-widths) {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
.footer__socials {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  @media($tablet-width) {
    display: flex;
    margin-top: 34px;
    margin-bottom: 37px;
  }
  @media($desktop-widths) {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
.footer__sign {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  @media($tablet-width) {
    display: flex;
    margin-top: 34px;
    margin-left: -15px;
  }
  @media($desktop-widths) {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
.footer__button {
  font-size: 0;
  @media($tablet-width) {
    font-size: 0;
  }
}
.footer__button--twitter {
  display: block;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background: url(../img/icon-twitter.svg) no-repeat center;
  border: 3px solid #e9ebec;
  border-radius: 50%;
}
.footer__button--facebook {
  display: block;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background: url(../img/icon-facebook.svg) no-repeat center;
  border: 3px solid #e9ebec;
  border-radius: 50%;
}
.footer__button--play {
  display: block;
  width: 50px;
  height: 50px;
  background: url(../img/icon-youtube.svg) no-repeat center;
  border: 3px solid #e9ebec;
  border-radius: 50%;
}
.footer__logoacademy {
  display: block;
  margin-top: 6px;
  font-size: 0;
  width: 36px;
  height: 36px;
  background: url("../img/htmlacademy.svg") no-repeat;
  @media($tablet-width) {
    display: block;
    font-size: 0;
    width: 36px;
    height: 36px;
    background: url("../img/htmlacademy.svg") no-repeat;
  }
  @media($desktop-widths) {
    margin-top: 8px;
  }
}
.footer__text {
  margin-right: 10px;
  margin-bottom: 50px;
  font-size: $font-size-title;
  line-height: $line-height-title;
  color: $color-ebonyclay;
  @media($tablet-width) {
  margin-right: 10px;
  }
}
