.footer-container {
    width: 59%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media($tablet-width) {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 30px;
      padding-bottom: 45px;
    }
    @media($desktop-widths) {
      padding-top: 65px;
      padding-bottom: 65px;
      justify-content: space-between;
    }
}
