@media($mobile-width) {
  .footer{
  display: none;
  }
}
@media($tablet-width) {
  .footer__logo {
    float: left;
  }
  .footer__socials {
    display: inline-block;
  }
  .footer__sign {
    float: right;
  }
}
