.form {
  @media($tablet-width) {
  display: flex;
  flex-direction: column;
  padding-top: 55px;
  padding-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
  width: 88.5%;
  }
  @media($desktop-widths) {
    width: 83%;
  }
}
