.info {
  min-height: 385px;
  display: flex;
  padding: 0;
  margin-bottom: 45px;
  border: none;
}
.info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__label {
  @include decoration-label;
  margin-bottom: 5px;
  margin-top: 12px;
  font-size: $font-size-title;
  line-height: $line-height-text;
  color: $text-cericered;
  text-transform: uppercase;
}
.info__control {
  @include decoration-text;
  padding-bottom: 15px;
  padding-top: 14px;
  padding-left: 20px;
  padding-right: 35px;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
}
