.info {
  min-height: 355px;
  display: flex;
  padding: 0;
  border: none;
  @media($tablet-width) {
    order: 1;
  }
  @media($desktop-widths) {
    min-height: 294px;
    width: 45%;
  }
}
.info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media($tablet-width) {
    margin-bottom: 50px;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
  @media($desktop-widths) {
    margin-bottom: 0;
    padding-bottom: 53px;
  }
}
.info__label {
  @include decoration-label;
  margin-bottom: 5px;
  margin-top: 12px;
  font-size: $font-size-title;
  line-height: $line-height-text;
  color: $text-cericered;
  text-transform: uppercase;
  @media($desktop-widths) {
    margin-right: 27px;
  }
}
.info__control {
  @include decoration-text;
  padding-bottom: 15px;
  padding-top: 14px;
  padding-left: 20px;
  padding-right: 35px;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  @media($tablet-width) {
    width: 520px;
  }
  @media($desktop-widths) {
    width: 100%;
  }
}
.info__control:hover {
  border: 2px solid $color-ebonyclay;
}
.info__control:active {
  border: 2px solid $text-cericered;
}
