.interview {
  display: flex;
  min-height: 340px;
  border: none;
  background: $color-concrete;
  @media($tablet-width) {
    position: relative;
    margin-bottom: 60px;
    min-height: 295px;
    order: 2;
    background: none;
    border: 2px solid #e5e5e5;
    z-index: 1;
  }
  @media($desktop-widths) {
    width: 48%;
  }
}
.interview__head {
  display: flex;
  justify-content: space-around;
  padding-top: 36px;
  padding-bottom: 36px;
  text-align: center;
  @media($tablet-width) {
    background: #ffffff;
    width: 350px;
    margin: -52px auto;
    @media($desktop-widths) {
      width: 80%;
      left: 45px;
      right: 0;
    }
  }
}
.interview__title {
  margin: 0;
  width: 177px;
  font-size: $font-size-title;
  line-height: $font-size-text;
  color: $text-cericered;
  text-transform: uppercase;
  font-weight: 400;
  @media($tablet-width) {
    width: 325px;
  }
  @media($desktop-widths) {
    width: 100%;
  }
}
.interview__list {
  padding-left: 10px;
  @media($tablet-width) {
  display: flex;
  flex-direction: column;
  padding-top: 62px;
  padding-left: 47px;
  }
}
.interview__item {
  margin-bottom: 35px;
}
.interview__label {
  display: flex;
  font-size: $font-size-text;
  line-height: $line-height-text;
  color: $color-ebonyclay;
}
.interview input[type="radio"] {
  display: none;
}
.interview input:checked+label:before {
  display: inline-block;
  margin-right: 30px;
  content: "";
  width: 37px;
  height: 37px;
  background: url("../img/icon-map-marker.svg") no-repeat center;
  border: 2px solid #e5e5e5;
  border-radius: 50px;
}
.interview input+label:before {
  display: inline-block;
  margin-right: 30px;
  content: "";
  width: 37px;
  height: 37px;
  background: $color-white;
  border: 2px solid #e5e5e5;
  border-radius: 50px;
}
