.interview__title {
  font-size: $font-size-title;
  line-height: $font-size-text;
  color: $text-cericered;
  text-transform: uppercase;
}
.interview__label {
  font-size: $font-size-text;
  line-height: $line-height-text;
  color: $color-ebonyclay;
}
