.main-header__menu {
  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 15px;
  @media($tablet-width) {
    padding-top: 44px;
    padding-bottom: 39px;
  }
  @media($desktop-widths) {
    display: none;
  }
}
.main-header__control {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  @media($desktop-widths) {
    display: none;
  }
}
.main-header__control--active {
  @media($tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  @media($desktop-widths) {
    display: none;
  }
}
