.main-header__menu {
  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 15px;
  @media($desktop-widths) {
    display: none;
  }
}
.main-header__control {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: rgba(30, 39, 51, 0.7);
  z-index: 2;
  @media($tablet-width) {
    display: none;
  }
}
