.main-menu {
  font-weight: bold;
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  background-color: #283645;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 21px;
  text-transform: uppercase;
}
.main-menu__item {
  list-style: none;
}
.main-menu__list {
  padding: 0;
}
