.main-logo {
  padding-left: 25px;
  @media($tablet-width) {
    margin-top: 24px;
  }
  @media($desktop-widths) {
    padding-top: 2px;
    padding-bottom: 40px;
    padding-left: 10px;
    margin: 0;
    display: block;
  }
}
.main-logo__img {
  @media($tablet-width) {
    width: 150px;
    height: 45px;
  }
}
.main-logo__img:hover {
  background-color: $text-cericered;
}
