.main-menu--active {
  @media($tablet-width) {
    display: none;
  }
}
.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  @media($desktop-widths) {
    flex-direction: row;
    justify-content: flex-start;
    line-height: 18px;
    font-weight: normal;
    text-transform: none;
  }
}
.main-menu__item {
  padding: 15px 0;
  list-style: none;
  border-bottom: 1px solid $color-black;
  box-shadow: 0px 1px 0px rgba(255,255,255,0.2);
  @media($desktop-widths) {
    margin-left: 76px;
    padding: 45px 0;
    border: none;
    box-shadow: none;
  }
}
.main-menu__item:last-child {
    box-shadow: 0px 1px 0px rgba(0,0,0,1);
      @media($desktop-widths) {
        border: none;
        box-shadow: none;
      }
}
.main-menu__link {
  color: $color-white;
  text-decoration: none;
}
.main-menu__link:hover {
  color: $text-cericered;
}
.main-menu__link:active {
  color: $color-white;
  opacity: 0.3;
}
.main-menu__link--active {
  border-bottom: 2px solid $color-white;
}
.main-menu__link--active:hover {
  color: $text-cericered;
  border-bottom: 2px solid $text-cericered;
}
.main-menu__list {
  padding: 0;
  margin: 0;
}
.main-menu__control {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-black;
  padding-bottom: 14px;
  box-shadow: 0px 1px 0px rgba(255,255,255,0.2);
  @media($tablet-width) {
    padding-bottom: 32px;
  }
  @media($desktop-widths) {
    display: block;
    box-shadow: none;
    border: none;
  }
}
.main-menu__list {
  @media($desktop-widths) {
    display: flex;
    justify-content: space-around;
  }
}
