.photo__sign {
  margin: 0;
  padding-left: 17px;
  padding-top: 31px;
  font-size: $font-size-title;
  line-height: 24px;
  font-weight: bold;
  color: $color-ebonyclay;
  @media($tablet-width) {
    padding-left: 30px;
  }
}
.photo__sign--active {
  @media($tablet-width) {
  padding-top: 27px;
  width: 173px;
  order: 1;
  }
}
.photo__span {
  font-size: 12px;
  line-height: 24px;
  font-weight: lighter;
  color: $color-ebonyclay;
  text-transform: uppercase;
}
.photo__text {
  margin: 0;
  padding-left: 17px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 24px;
  color: $color-ebonyclay;
  @media($tablet-width) {
    padding-left: 30px;
    width: 250px;
  }
}
.photo__like {
  margin: 0;
  padding-left: 47px;
  padding-bottom: 17px;
  font-size: 12px;
  line-height: 24px;
  color: $text-cericered;
  text-transform: uppercase;
  background: url("../img/icon-heart.svg") no-repeat 17px 6px;
  @media($tablet-width) {
    padding-left: 29px;
    background: url("../img/icon-heart.svg") no-repeat 254px 6px;
  }
}
.photo__like--active {
  @media($tablet-width) {
  padding-top: 24px;
  order: 2;
  width: 195px;
  background: url("../img/icon-heart.svg") no-repeat 155px 29px;
  }
}
.photo__text--active {
  @media($tablet-width) {
  margin-top: -14px;
  margin-bottom: 12px;
  order: 3;
  width: 545px;
  }
  @media($desktop-widths) {
    width: 100%;
  }
}
.photo__img {
  width: 100%;
  height: auto;
}
.photo__img--active {
  width: 100%;
  height: auto;
}
.photo__item {
  @media($tablet-width) {
    width: 48%;
  }
  @media($desktop-widths) {
    width: 32%;
  }
}
.photo__item--active {
  position: relative;
  width: 100%;
  margin: 0;
}
.photo__words {
  position: absolute;
  padding-top: 11px;
  width: 140px;
  height: 36px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: $text-cericered;
  color: $color-white;
  right: 20px;
  top: -12px;
}
