.photo-wrap {
  margin-top: -3px;
  background-color: $color-concrete;
  margin-bottom: 20px;
  @media($tablet-width) {
    margin-bottom: 47px;
  }
}
.photo-wrap--active {
  @media($tablet-width) {
    margin-top: -3px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 89%;
  }
  @media($desktop-widths) {
    width: 98%;
  }
}
