.photo__sign {
  margin: 0;
  padding-left: 17px;
  padding-top: 31px;
  font-size: $font-size-title;
  line-height: 24px;
  font-weight: bold;
  color: $color-ebonyclay;
}
.photo__span {
  font-size: 12px;
  line-height: 24px;
  font-weight: lighter;
  color: $color-ebonyclay;
  text-transform: uppercase;
}
.photo__text {
  margin: 0;
  padding-left: 17px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 24px;
  color: $color-ebonyclay;
}
.photo__like {
  margin: 0;
  padding-left: 47px;
  padding-bottom: 17px;
  font-size: 12px;
  line-height: 24px;
  color: $text-cericered;
  text-transform: uppercase;
  background: url("../img/icon-heart.svg") no-repeat 17px 6px;
}
.photo__item {
  @media($tablet-width) {
    float: left;
    margin-right: 20px;
    width: 300px;
  }
}
.photo__img--active {
  @media($tablet-width) {
    width: 100%;
  }
}
.photo__item--active {
  @media($tablet-width) {
    float: left;
    width: 100%;
  }
}
  .photo__text--active {
    @media($tablet-width) {
      float: left;
      width: 625px;
  }
}
