.photo-wrap {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  min-height: 145px;
  background-color: $color-concrete;
  margin-bottom: 20px;
  @media($tablet-width) {
    min-height: 155px;
    margin-bottom: 52px;
  }
}
