.picture-slider {
  background-color: #f2f2f2;
}
@media (min-width: 700px) {
  .picture-slider__img {
    float: left;
  }
  .picture-slider__list {
    float: right;
  }
  .picture-slider__buttons {
    float: right;
    margin-top: 150px;
  }
}
