.picture-slider {
  background-color: $color-concrete;
}
.picture-slider__img {
  @media($desktop-widths) {
  float: left;
  }
}
.picture-slider__list {
  @media($desktop-widths) {
  float: right;
  }
}
.picture-slider__buttons {
  @media($desktop-widths) {
  float: right;
  margin-top: 150px;
  }
}

