.price-table {
  display: inline-flex;
  justify-content: space-around;
}
.price-table__text--invisible {
  display: none;
  @media($tablet-width) {
    display: block;
  }
  @media($desktop-widths) {
    display: block;
  }
}
.price-table__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 15px;
  min-height: 61px;
  min-width: 277px;
  background: $color-white;
  border: 1px solid #e5e5e5;
  @media($tablet-width) {
    min-height: 45px;
    min-width: 150px;
    justify-content: center;
  }
  @media($desktop-widths) {
    min-height: 60px;
    min-width: 230px;
    justify-content: center;
  }
}
.price-table__title {
  padding-bottom: 12px;
  padding-top: 12px;
  min-height: 97px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  background: $color-ebonyclay;
  border-right: 1px solid $color-white;
  color: $color-white;
  @media($tablet-width) {
    padding-top: 9px;
    font-size: 16px;
    position: relative;
    min-height: 79px;
  }
  @media($desktop-widths) {
    padding-top: 12px;
    font-size: 24px;
    min-height: 97px;
  }
}
.price-table__span {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}
.price-table__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  color: $color-ebonyclay;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  @media($tablet-width) {
    display: none;
    padding-left: 12px;
    font-weight: 400;
  }
  @media($desktop-widths) {
    font-size: 18px;
    font-weight: 400;
    display: none;
    padding-left: 21px;
  }
}
.price-table__text--invisible {
  display: none;
  @media($tablet-width) {
    display: block;
  }
  @media($desktop-widths) {
    display: block;
  }
}
.price-table--invisible {
  display: none;
  @media($tablet-width) {
    display: block;
    background: $color-concrete;
  }
}
.price-table__item--invisible {
  justify-content: flex-start;
}
.price-table__title.hit {
  position: relative;
}
.price-table__title.hit:before {
  position: absolute;
  content: "";
  width: 83px;
  height: 76px;
  background: url("../img/bg-hit.svg") no-repeat;
  top: 0px;
  left: -1px;
  @media($tablet-width) {
    top: -19px;
    left: 0px;
  }
}
.price-table__title.hit:after {
  position: absolute;
  content: "ХИТ";
  font-size: 14px;
  color: $color-white;
  width: 83px;
  height: 76px;
  font-weight: 600;
  transform: rotate(-45deg);
  top: 2px;
  left: 3px;
  @media($tablet-width) {
    top: -2px;
    left: -8px;
  }
}
