.price {
  background: #f2f2f2 url(../img/bg-triangle-white.svg) no-repeat;
  background-position: 70% 0;
  padding-bottom: 38px;
  padding-top: 125px;
  padding-left: 20px;
  padding-right: 20px;
  @media($tablet-width) {
    padding-top: 100px;
    padding-bottom: 76px;
  }
  @media($desktop-widths) {
    padding-top: 165px;
    padding-bottom: 98px;
  }
}
