.price__head {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 20px;
}
.price__cost {
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}
.price__itemtop {
  background-color: #283645;
}
.price__text {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: left;
}
