.price {
  background: $color-concrete;
  padding: 75px 20px;
}
.price__list {
  display: flex;
  width: 276px;
  flex-direction: column;
}
.price__headhit {
  margin: 0;
  padding-top: 20px;
  font-size: $font-size-text;
  line-height: $line-height-text;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $color-white;
}
.price__costhit {
  margin: 0;
  padding-bottom: 20px;
  font-size: 24px;
  line-height: $line-height-text;
  font-weight: lighter;
  color: $color-white;
  text-align: center;
}
.price__title {
  background: $color-ebonyclay;
}
.price__item--active {
  display: flex;
}
.price__text {
  font-size: $font-size-title;
  line-height: $line-height-text;
  text-align: left;
  color: $color-ebonyclay;
}
.price__head {
   @media($tablet-width) {
    float: left;
    width: 150px;
    height: 85px;
   }
}
.price__cost {
  display: none;
  @media($tablet-width) {
    float: left;
    width: 150px;
    height: 85px;
  }
}
