.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  @media($tablet-width) {
    padding-left: 35px;
    padding-right: 35px;
    flex-direction: column-reverse;
  }
  @media($desktop-widths) {
    padding-top: 180px;
    position: relative;
    width: 80%;
    margin: 0 auto;
    background: url(../img/icon-quotes.svg) no-repeat center 70px;
  }
}
.quote__author {
  margin: 0;
  padding-bottom: 10px;
  font-size: $font-size-text;
  line-height: $line-height-text;
  font-weight: bold;
  color: $color-black;
  font-style: normal;
  order: 1;
  @media($tablet-width) {
    padding-bottom: 0;
    font-size: 20px;
  }
  @media($desktop-widths) {
    font-size: 24px;
  }
}
.quote__text {
  width: 289px;
  margin: 0;
  order: 2;
  @media($tablet-width) {
    padding-bottom: 35px;
    width: 100%;
    font-size: 18px;
    line-height: 30px;
  }
}
.quote__author-info {
  display: none;
  @media($tablet-width) {
    display: block;
    margin: 0;
    padding: 0;
    order: 1;
  }
  @media($desktop-widths) {
    font-size: 30px;
  }
  @media($desktop-widths) {
    font-size: 18px;
  }
}
.quote__description {
  margin: 0;
  padding-bottom: 10px;
  @media($tablet-width) {
    padding-bottom: 0;
  }
}
.quote:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background: url(../img/icon-review-arrow-right.svg) no-repeat;
  top: 210px;
  right: -70px;
}
.quote:before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background: url(../img/icon-review-arrow-left.svg) no-repeat;
  top: 210px;
  left: -70px;
}
