.reviews {
  min-height: 355px;
  font-size: $font-size-title;
  line-height: $line-height-text;
  text-align: center;
  color: $color-ebonyclay;
  @media($tablet-width) {
  }
}
.reviews__item {
  list-style: none;
    @media($tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }
  @media($desktop-widths) {
  }
}
.reviews__list {
  padding: 0;
}
