.reviews {
  min-height: 352px;
  font-size: $font-size-title;
  line-height: $line-height-text;
  text-align: center;
  color: $blue;
}
.reviews__head {
  font-size: $font-size-text;
  line-height: $line-height-text;
  font-weight: bold;
  color: #000000;
}
.reviews__item {
  list-style: none;
}
.reviews__list {
  padding: 0;
}
