.slider__items {
  margin-bottom: 122px;
}
input.slider__input {
  display: none;
}
input.slider__input:before {
  content: "";
  width: 12px;
  height: 12px;
  font-size: 20px;
  line-height: 10px;
  border: 1px solid black;
}
