.table-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  @media($tablet-width) {
    width: 94%;
    margin: 0 auto;
  }
  @media($desktop-widths) {
    width: 98%;
  }
}
