.textarea__title {
  font-size: $font-size-title;
  line-height: $line-height-text;
  text-transform: uppercase;
  color: $text-cericered;
}
.textarea__content {
  font-size: $font-size-text;
  line-height: $line-height-text;
  color: $color-ebonyclay;
}
.textarea__info {
  font-size: $font-size-title;
  line-height: $line-height-text;
  text-transform: uppercase;
  color: $color-ebonyclay;
}
.textarea__span {
  color: $text-cericered;
}
