.textarea__title {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}
.textarea__content {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
.textarea__info {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-transform: uppercase;
}
.textarea__info span {
  color: #d22856;
}
