.textarea {
  min-height: 230px;
  border: none;
  display: flex;
  @media($tablet-width) {
    position: relative;
    padding-bottom: 15px;
    padding-top: 44px;
    padding-left: 54px;
    padding-right: 31px;
    margin-bottom: 64px;
    border: 2px solid #e5e5e5;
    order: 5;
    z-index: 1;
  }
  @media($desktop-widths) {
    width: 100%;
  }
}
.textarea__head {
  display: flex;
  justify-content: space-around;
  padding-top: 28px;
  padding-bottom: 10px;
  text-align: center;
  @media($tablet-width) {
    background: #ffffff;
    width: 230px;
    margin: -88px auto;
  }
  @media($desktop-widths) {
    width: 25%;
    left: 370px;
  }
}
.textarea__title {
  margin: 0;
  font-weight: 400;
  font-size: $font-size-title;
  line-height: $line-height-text;
  text-transform: uppercase;
  color: $text-cericered;
}
.textarea__item {
  margin-bottom: 27px;
  @media($tablet-width) {
    padding-top: 128px;
  }
}
.textarea__content {
  padding-left: 23px;
  padding-top: 15px;
  min-height: 202px;
  width: 97%;
  resize: none;
  font-size: $font-size-text;
  outline: none;
  line-height: $line-height-text;
  color: $color-ebonyclay;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  @media($desktop-widths) {
    min-height: 123px;
    line-height: 23px;
  }
}
.textarea__content:hover {
  border: 2px solid $color-ebonyclay;
}
.textarea__content:active {
  border: 2px solid $text-cericered;
}
