.top-info {
  font-size: $font-size-title;
  line-height: $line-height-text;
  color: $color-ebonyclay;
  @media ($tablet-width) {
  }
}
.top-info__title {
  margin: 0 auto;
  padding: 47px 0;
  width: 250px;
  font-size: $font-size-title;
  line-height: $line-height-text;
  font-weight: normal;
  text-align: center;
  @media ($tablet-width) {
    padding-top: 95px;
    padding-bottom: 90px;
    width: 450px;
    font-size: 18px;
  }
  @media($desktop-widths) {
    width: 580px;
  }
}
