.top-title {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../img/bg-back-mobile@2x.jpg") no-repeat;
  }
  @media($tablet-width) {
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat;
    padding-top: 86px;
    padding-bottom: 57px;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/bg-back-tablet@2x.jpg") no-repeat;
    }
  }
  @media($desktop-widths) {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/bg-back-desktop@2x.jpg") no-repeat;
    }
  }
}
.top-title__head {
  width: 180px;
  margin: 0 auto;
  @media($tablet-width) {
    width: 365px;
  }
}
.top-title__text {
  padding-top: 98px;
  padding-bottom: 84px;
  margin: 0;
  font-size: 24px;
  color: $color-white;
  text-align: center;
  font-weight: lighter;
  @media($tablet-width) {
    font-size: 50px;
  }
  @media($desktop-widths) {
    padding-bottom: 38px;
  }
}
