.top-info {
  min-height: 150px;
  font-size: $font-size-title;
  line-height: $line-height-text;
  color: $color-ebonyclay;
  @media ($tablet-width) {
  }
}
.top-info__title {
  margin: 0 auto;
  padding: 47px 0;
  width: 250px;
  font-size: $font-size-title;
  line-height: $line-height-text;
  font-weight: normal;
  text-align: center;
  @media ($tablet-width) {
    padding-top: 95px;
    padding-bottom: 90px;
    width: 450px;
    font-size: 18px;
  }
  @media($desktop-widths) {
    width: 580px;
  }
}
.top-info__span {
  display: none;
  @media($tablet-width) {
    display: inline-block;
  }
  @media($desktop-widths) {
    display: inline-block;
  }
}
.top-info__title--active {
  width: 275px;
  padding-top: 47px;
  padding-bottom: 27px;
  @media($tablet-width) {
    width: 490px;
  }
  @media($desktop-widths) {
    width: 756px;
  }
}
