.top-info {
  font-size: $font-size-title;
  line-height: $line-height-text;
  color: $color-ebonyclay;
}
.top-info__title {
  margin: 0 auto;
  padding: 47px 0;
  width: 250px;
  font-size: $font-size-title;
  line-height: $line-height-text;
  font-weight: normal;
  text-align: center;
}
