.top-picture {
  float: none;
  width: 320px;
  height: 420px;
  background: url(http://placehold.it/320x420);
}
.top-picture__head {
  font-size: 24px;
  font-weight: normal;
  color: $color-white;
}
@media($tablet-width) {
  .top-picture {
  float: none;
  width: 700px;
  height: 618px;
  background: url(http://placehold.it/700x618);
  }
}
