.top-picture {
  float: none;
  width: 320px;
  height: 396px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat;
  @media($tablet-width) {
    float: none;
    width: 700px;
    height: 618px;
    background: url(http://placehold.it/700x618);
  }
}
.top-picture__head {
  font-size: 24px;
  font-weight: normal;
  color: $color-white;
}
